<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" manifest="manifest.appcache" > <!--<![endif]-->
<head>
  <title>Planet Kubb Game </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/planetkubb.css">
</head>
<body>

<div class="row">

<div id="masthead">
  <img src="/img/planetkubb-logo.png" />
  SCORESHEET
</div>

<%= yield %>

</div>
</body>
</html>